:root {
    --color-accent-light: #cfcfbc;
    --color-accent-normal: #819b57; 
    --color-accent-dark: #465929;  
    --color-secondary-dark: #a18268;
    --color-primary-light: #faf4ea;
    --color-primary-dark:  #31261a;
}