.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}
.chefs-title::after, .chefs-title::before {
    position: absolute;
    bottom: 24px;
    width: 352px;
    border: 2px solid var(--color-accent-light);
    content: '';
}
.chefs-title::before {
    left: 0;
}
.chefs-title::after {
    right: 0;
}
.chefs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
}
.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}