.formats-title {
    margin-bottom: 80px;
}
.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}
.formats-list {
    display: flex;
    gap: 20px;
}
.formats-item {
    width: calc((100% - 40px) / 3);
}